<!doctype html>
<html>
	<head>
		<%- include('ejs/head_meta.html')%>
		<title>title</title>
		<%- include('ejs/head_script.html')%>
		<script src="/common/js/socket.io.js"></script>
		<style>
			html, body {
				height: 100%;
			}
			section {
				height: 100%;
			}
		</style>
	</head>
	<body>
		<section class="socket-section">
			<div class="socket-msg">
			</div>
			<div class="input-box">
				<input type="text" class="input-name" value="无名氏" />
				<input type="text" class="input-msg" placeholder="你想说什么" >
			</div>
		</section>
		<script src="/common/js/jquery.min.js"></script>
		<script>
			var chat = io('http://192.168.1.2:1212/chat');
			var statistics = io('http://192.168.1.2:1212/statistics');
			chat.on("msg-get", function(html){
				$(".socket-msg").append(html);
			});
			$(".input-msg").on('keyup', function(e){
				if( e.keyCode == 13 ){
					var name = $(".input-name").val();
					var val = $(".input-msg").val();
					if( !val ){
						return false;
					}
					var html = '<div class="record">' + name + ": " + val + '</div>';
					$(".socket-msg").append(html);
					chat.emit("msg-send", html );
					statistics.emit("send", {
						ua: navigator.userAgent,
						html: html,
						date: new Date
					} );
					$(".input-msg").val("");
				}
			});
		</script>
	</body>
</html>